In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

`Ans:-- A database is a structured collection of data that is organized, stored, and managed for easy access, retrieval, and manipulation. Databases provide a systematic way to store and manage large amounts of information efficiently, making it possible to perform various operations on the data, such as querying, updating, and deleting.`




# SQL

- RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)

- Data Model:- SQL Databases: SQL databases are based on a relational data model. Data is organized into tables with predefined schemas, and relationships between tables are defined using keys (usually primary and foreign keys).

- Schemas:- SQL databases have a fixed schema, meaning the structure of the data and the relationships between tables are defined in advance. Any changes to the schema require careful management and migration.


-  SQL databases use the SQL language for querying and manipulating data.

-  SQL databases are best suited for complex queries


-  MySQL, PostgreSQL, Oracle, MS-SQL Server, etc.



# NOSQL



- Non-relational or distributed database system.

- NoSQL databases encompass various data models, including document, key-value, column-family, and graph. 

-  NoSQL databases are often schema-less or schema-flexible. This means that data can be added without adhering to a predefined structure

- NoSQL databases often have their own query languages or APIs tailored to their data models.

- These databases are not so good for complex queries.

-  MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

`Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.`

 `Data Definition Language (DDL) is a set of SQL (Structured Query Language) commands used to create,alter,drop, modify, and delete database objects such as tables, indexes, views, and constraints. DDL statements are used to define the schema or structure of a database, including its data types, relationships between tables, and rules for data integrity and security.`
 
 
 __CREATE :-
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.__



__DROP :
This command is used to remove an existing table along with its structure from the Database.__



__ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily__.



__TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.__

In [3]:
"""CREATE TABLE table_name
(
column_1 datatype,
column_2 datatype,
column_3 datatype,
....
);  """

'CREATE TABLE table_name\n(\ncolumn_1 datatype,\ncolumn_2 datatype,\ncolumn_3 datatype,\n....\n);  '

In [4]:
"""ALTER TABLE table_name
ADD column_name datatype;


ALTER TABLE Student_info
ADD CGPA number;      """

'ALTER TABLE table_name\nADD column_name datatype;\n\n\nALTER TABLE Student_info\nADD CGPA number;      '

In [5]:
"""TRUNCATE TABLE table_name;


TRUNCATE TABLE Student_info;  """

'TRUNCATE TABLE table_name;\n\n\nTRUNCATE TABLE Student_info;  '

In [6]:
"""DROP TABLE table_name;

DROP TABLE Student_info;  """

'DROP TABLE table_name;\n\nDROP TABLE Student_info;  '

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

`DML stands for Data Manipulation Language.`

`It is used to manipulate data in the database by performing insertion, updating and deletion operations. DML cannot be used for database transactions.In Frequently, used commands present in DML are: UPDATE, INSERT, MERGE, SELECT, DELETE, CALL, EXPLAIN PLAN, LOCK TABLE.`



__INSERT:-- The INSERT statement is used to insert new rows of data into a table.



__UPDATE:--The UPDATE statement is used to modify existing data in a table.__

__DELETE:-- The DELETE statement is used to remove rows from a table.__

INSERT INTO employees (employee_id, first_name, last_name, department_id)
    VALUES (1, 's', 'r', 101);




UPDATE employees
SET department_id = 102
WHERE employee_id = 1;






DELETE FROM employees
WHERE employee_id = 1;

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for "Data Query Language," which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements are specifically designed for querying and retrieving information from the database tables. The primary DQL statement is the SELECT statement, which allows you to specify what data you want to retrieve from the database.



Consider a simple "employees" table with columns "employee_id," "first_name," "last_name," and "department_id." To retrieve specific data from this table, you can use the SELECT statement.






SELECT first_name, last_name
FROM employees
WHERE department_id = 101;

SELECT * FROM employees;

# Q5. Explain Primary Key and Foreign Key.

Primary Key:--
                                  A primary key is a column (or set of columns) in a table that uniquely identifies each row in the table. It cannot contain null values and must be unique across all rows in the table. Only one primary key is allowed in a table.

A primary key is basically a combination of the 'UNIQUE' and 'Not Null' constraints.it cannot be a NULL value.
primary key is that its value cannot be deleted from the parent table.



Foreign Key:-- A foreign key is a column (or set of columns) in a table that refers to the primary key in another table. It is used to establish a link between the two tables and is used to enforce referential integrity in the database.
 
a table can have more than one foreign key. Also, the foreign key can contain duplicate and null values in a relational database. The value of a foreign key can be deleted from the child table.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [10]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Abcdefg123"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001944BEAF940>
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test',)
('world',)

- cursor(): The cursor() method is called on the connection object to create a cursor. A cursor is an object that allows you to interact with the database by executing SQL queries and fetching results. Cursors are used to manage the context of a database session.




- execute: The execute() method is called on the cursor object to execute an SQL query. The query is passed as an argument to the method. After executing the query, the cursor stores the results, if any. You can then use methods fetchall() to retrieve the query results.

# Q7. Give the order of execution of SQL clauses in an SQL query.

SQL queries adhere to a specific order when evaluating clauses, similar to how mathematical operations adhere to BODMAS.

The order in which the clauses in queries are executed is as follows:--

1. FROM/JOIN 
The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE 
The WHERE clause is executed to filter out records that do not meet the constraints.

 

3. GROUP BY 
The GROUP BY clause is executed to group the data based on the values in one or more columns.

 

4. HAVING 
The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

 

5. SELECT 
The SELECT clause is executed to derive all desired columns and expressions.

 

6. ORDER BY 
The ORDER BY clause is executed to sort the derived values in ascending or descending order.

 

7. LIMIT/OFFSET 
Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.